body{
    background-color: rgb(34, 34, 14);
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Arial Narrow';
    padding: 10px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

a{
    color: white;
}
}
#title{
    flex-direction:column;
    line-height: 10px;
}
li{
display: inline-block;
margin: 20px;
}
main{
    text-align: center;
}
p{
    margin: 38px;
}
